
body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

.header{
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #1b1b1b88;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.Image{
    padding: 10px;

    height: 500px;

    background-image: url("Images/Nachhaltigkeit.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.Haupttext{

    padding: 10px;

    text-align: center;

    float: left;
}

.Haupttext .Seite{
    width: 25%;

    background-color: rgba(235, 133, 0, 0);
}

.Haupttext.Mitte {
    width: 50%;
}

.Haupttext::after{
    content: "";
    display: table;
    clear: both;
}

.Nothing{
    padding: 20px;

    text-align: center;

    margin: auto;
}

.NLinks .A{
    float: left;
    width: 20%;
    padding: 15px;
}

.NLinks::after{
    content: "";
    display: table;
    clear: both;
}